{{#tracks}}
    <div class="trackListItem">
        <div onclick="startPlay('{{id}}', {{@index}})">
            <p class="title {{status}}" >{{title}}</p>
            <div id="{{videoId}}Progress" class="progressBar">
                <div></div> <p></p>
            </div>
            <p class="duration" >{{formatDuration duration}}</p>
        </div>
        <i onclick="modifyTrack('{{id}}')" class="fa fa-pen icon button"></i>
    </div>
{{/tracks}}