<div id="modificationPage">
    <div id="modificationPageHeader">
        <div id="backButton" class="button icon" onclick="back()" ><i class="fa fa-times fa-2x icon"></i></div>
        <h2 id="modificationPageTitle">{{artist.name}}</h2>
        <div id="saveButton" class="button raised" onclick="saveAndHide('artist', '{{artist.id}}')" >Save</div>
    </div>
    <div class="input">
        <i class="fa fa-fingerprint fa-2x icon"></i>
        <input type="text" disabled value="{{artist.id}}" />
    </div>
    <div class="input">
        <i class="fa fa-male fa-2x icon"></i>
        <input type="text" class="form-data" id="name" value="{{artist.name}}" />
    </div>

    <div class="actions">
        <div class="button raised alert" onclick="deleteItem('artist', '{{artist.id}}')" >Delete</div>
    </div>
</div>